In [119]:
import pandas as pd
import numpy as np

In [120]:
# SQL file import in to colab and read as df
import sqlite3
conn=sqlite3.connect("restaurants.db")
cursor=conn.cursor()

# read the sql scripts
with open("restaurants.sql","r") as f:
  sql_scripts=f.read()
  cursor.executescript(sql_scripts)
  conn.commit()

df3=pd.read_sql("select * from restaurants",conn)

In [121]:
df3.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [122]:
df1=pd.read_csv("/content/orders.csv")
df2=pd.read_json("/content/users.json")

In [123]:
df1.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [124]:
df2

      user_id       name       city membership
0           1     User_1    Chennai    Regular
1           2     User_2       Pune       Gold
2           3     User_3  Bangalore       Gold
3           4     User_4  Bangalore    Regular
4           5     User_5       Pune       Gold
...       ...        ...        ...        ...
2995     2996  User_2996  Hyderabad       Gold
2996     2997  User_2997  Hyderabad    Regular
2997     2998  User_2998  Bangalore    Regular
2998     2999  User_2999       Pune    Regular
2999     3000  User_3000  Hyderabad       Gold

[3000 rows x 4 columns]

In [125]:
x=pd.merge(df1,df2,on="user_id",how="left")
y=pd.merge(x,df3, on="restaurant_id",how="left")

In [126]:
y

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular,Restaurant_267,Chinese,4.2
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold,Restaurant_420,Italian,4.0
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold,Restaurant_492,Italian,4.0
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular,Restaurant_439,Mexican,3.1

In [128]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [129]:
y["order_date"]=pd.to_datetime(y["order_date"],errors="coerce",dayfirst=True)

In [130]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  datetime64[ns]
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 937.6+ KB

In [131]:
y.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [132]:
# q1 Which city has the highest total revenue (total_amount) from Gold members?
df_gold=y[y["membership"]=="Gold"]
df_gold.groupby("city")["total_amount"].sum().sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [133]:
# q2 Which cuisine has the highest average order value across all orders?
y.groupby("cuisine")["total_amount"].mean().sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [134]:
# Q3 How many distinct users placed orders worth more than ₹1000 in total (sum of all their orders)?
total_order_cut=y.groupby("user_id")["total_amount"].sum().reset_index()
total_order_cut[total_order_cut["total_amount"]>1000]

      user_id  total_amount
0           1       1289.66
1           2       7564.12
2           3       1839.51
3           4       3741.16
4           5       5742.88
...       ...           ...
2877     2995       2472.66
2878     2996       1533.54
2879     2997       5310.32
2880     2998       4241.47
2882     3000       2226.63

[2544 rows x 2 columns]

In [157]:
# Q4 Which restaurant rating range generated the highest total revenue?
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0–3.5','3.6–4.0','4.1–4.5','4.6–5.0']

y['rating_range'] = pd.cut(y['rating'], bins=bins, labels=labels)

y.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

/tmp/ipython-input-2879828883.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  y.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

rating_range
4.6–5.0    2197030.75
4.1–4.5    1960326.26
3.0–3.5    1881754.57
3.6–4.0    1717494.41
Name: total_amount, dtype: float64

In [136]:
# Q5 Among Gold members, which city has the highest average order value?
df_gold.groupby("city")["total_amount"].mean().sort_values(ascending=False)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [137]:
y.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,3.0–3.5
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,4.1–4.5
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.6–4.0
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.6–5.0
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0,NaN

In [138]:
# Q6 Which cuisine has the lowest number of distinct restaurants but still contributes significant revenue?
cuisine_summ=y.groupby(["cuisine","restaurant_id"]).agg(amt=("total_amount","sum"),count=("restaurant_id","nunique")).reset_index()

In [139]:
cuisine_summ.sort_values(
    by=["count","amt"],
    ascending=[True, False])

     cuisine  restaurant_id       amt  count
73   Chinese            287  29460.47      1
126   Indian             19  29289.52      1
494  Mexican            484  27051.49      1
259  Italian             61  26049.71      1
404  Mexican            134  25791.23      1
..       ...            ...       ...    ...
365  Italian            473   8376.52      1
288  Italian            192   8259.62      1
432  Mexican            246   7620.96      1
443  Mexican            292   7347.77      1
18   Chinese             64   6724.81      1

[500 rows x 4 columns]

In [140]:
cuisine_summ["count"].unique()

array([1])

In [141]:
# Q7 What percentage of total orders were placed by Gold members? (Rounded to nearest integer)

total=(df_gold["total_amount"].sum())/(y["total_amount"].sum())*100
total

np.float64(49.61996257507897)

In [142]:
# Q8 Which restaurant has the highest average order value but less than 20 total orders?
res_info=y.groupby("restaurant_name_x").agg(avg_order=("total_amount","mean"),order_count=("order_id","count")).reset_index()

In [143]:
h=res_info[res_info["order_count"]<20].sort_values(by="avg_order",ascending=False)

In [144]:
h[h["restaurant_name_x"]=="Grand Cafe Punjabi"]

Empty DataFrame
Columns: [restaurant_name_x, avg_order, order_count]
Index: []

In [145]:
h[h["restaurant_name_x"]=="Grand Restaurant South Indian"]

Empty DataFrame
Columns: [restaurant_name_x, avg_order, order_count]
Index: []

In [146]:
h[h["restaurant_name_x"]=="Ruchi Mess Multicuisine"]

Empty DataFrame
Columns: [restaurant_name_x, avg_order, order_count]
Index: []

In [147]:
h[h["restaurant_name_x"]=="Ruchi Foods Chinese"]

       restaurant_name_x   avg_order  order_count
254  Ruchi Foods Chinese  686.603158           19

In [148]:
y.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,3.0–3.5
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,4.1–4.5
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.6–4.0
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.6–5.0
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0,NaN

In [149]:
# Q9 Which combination contributes the highest revenue?
'''Gold + Indian cuisine
Gold + Italian cuisine
Regular + Indian cuisine
Regular + Chinese cuisine'''

y.groupby(['membership','cuisine'])['total_amount'].sum().sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [150]:
# Q10 During which quarter of the year is the total revenue highest?
y['month']=y["order_date"].dt.month

In [151]:
y.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,3.0–3.5,2
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,4.1–4.5,1
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.6–4.0,7
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.6–5.0,10
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0,NaN,12

In [152]:
y['qtr']=y["month"].map({1:"Q1",2:"Q1",3:"Q1",
                        4:"Q2",5:"Q2",6:"Q2",7:"Q3",8:"Q3",9:"Q3",10:"Q4",11:"Q4",12:"Q4"})

In [153]:
y.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month,qtr
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,3.0–3.5,2,Q1
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,4.1–4.5,1,Q1
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.6–4.0,7,Q3
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.6–5.0,10,Q4
4,5,1064,293,2023-12-25,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0,NaN,12,Q4

In [154]:
y.groupby("qtr")["total_amount"].sum().sort_values(ascending=False)

qtr
Q3    2037385.10
Q4    2018263.66
Q1    2010626.64
Q2    1945348.72
Name: total_amount, dtype: float64

In [160]:
# How many total orders were placed by users with Gold membership?
df_gold.shape

(4987, 12)

In [162]:
# What is the total revenue (rounded to nearest integer) generated from orders placed in Hyderabad city?
y.groupby("city")["total_amount"].sum()

city
Bangalore    2206946.58
Chennai      1990513.03
Hyderabad    1889366.58
Pune         1924797.93
Name: total_amount, dtype: float64

In [163]:
# How many distinct users placed at least one order?
y["user_id"].nunique()

2883

In [164]:
# What is the average order value (rounded to 2 decimals) for Gold members?
df_gold["total_amount"].mean().round(2)

np.float64(797.15)

In [165]:
# How many orders were placed for restaurants with rating ≥ 4.5?
y[y['rating']>=4.5]

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month,qtr
1,2,2693,309,2023-01-18,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,4.1–4.5,1,Q1
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.6–5.0,10,Q4
5,6,2933,499,2023-07-12,1497.22,Annapurna Tiffins South Indian,User_2933,Chennai,Regular,Restaurant_499,Mexican,4.9,4.6–5.0,7,Q3
10,11,924,235,2023-12-10,523.82,Amma Delights Family Restaurant,User_924,Chennai,Regular,Restaurant_235,Italian,4.5,4.1–4.5,12,Q4
17,18,1617,414,2023-04-23,736.89,Darbar Delights South Indian,User_1617,Pune,Gold,Restaurant_414,Chinese,4.7,4.6–5.0,4,Q2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,1512,238,2023-08-21,239.32,New Foods South Indian,User_1512,Chennai,Gold,Restaurant_238,Chinese,4.7,4.6–5.0,8,Q3
9986,9987,923,285,2023-03-15,978.25,Ruchi Eatery North Indian,User_923,Chennai,Gold,Restaurant_285,Mexican,4.8,4.6–5.0,3,Q1
9987,9988,2677,239,2023-04-05,1174.89,Sai Curry House North Indian,User_2677,Pune,Regular,Restaurant_239,Indian,4.9,4.6–5.0,4,Q2
9994,9995,1257,328,2023-11-12,137.96,Ruchi Curry House Andhra,User_1257,Bangalore,Gold,Restaurant_328,Mexican,4.6,4.6–5.0,11,Q4
9995,9996,2528,249,2023-05-21,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7,4.6–5.0,5,Q2

In [177]:
df_gold.groupby("city")["total_amount"].sum().sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [178]:
df_gold[df_gold["city"]=="Chennai"].shape[0]

1337